/**
 * Created by {{cookiecutter.author}} {% now 'utc' %}.
 */
* {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #8abfff;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 20% auto;

  img {
    opacity: 0;
  }
}

@keyframes animate-logo {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.animate-logo {
  animation: animate-logo 1.5s 1s forwards;
}
